<h1>
    Kashti/User Profile..........
</h1>

<%if(user.id==profile_user.id){%>
    <!-- if user matches then show the form  -->
    <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>">
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>">
        <button type="submit">Submit</button>
    </form>
<%}else{%>
    <!-- else just show the profile info -->
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
<%}%>